@model IEnumerable<ControlePontoAM.Models.entidades.cadastrohora>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 31,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);}
<script src="~/Scripts/bootbox.min.js"></script>
<style type="text/css">
    .edit-mode {
    }

    .edit-user {
    }

        .edit-user display-mode {
        }

    .save-user edit-mode {
    }

    .display-mode {
    }

    .cancel-user {
    }

    .webgrid-table {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        font-weight: normal;
        width: 600px;
        display: table;
        border-collapse: collapse;
        border: solid px #C5C5C5;
        background-color: white;

    }

        .webgrid-table td, th {
            border: 1px solid #C5C5C5;
            padding: 3px 7px 2px;
        }

    .webgrid-header, .webgrid-header a {
        background-color: #0094ff;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 3px 10px 3px 2px;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 2px 10px 2px;
    }

    .webgrid-alternating-row {
        background-color: azure;
        padding: 3px 10px 2px;
    }

    .col1Width {
        width: 30px;
    }

    .col2Width {
        width: 30px;
        padding: 10px;
    }

    .col3Width {
        width: 80px;
    }
</style>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <h3>Cadastro Ponto</h3>
        </h3>
    </div>
    <h3>  Nome Usuario: @ViewBag.nomeusuario</h3>
    <h3> Data Atual: @ViewBag.data </h3>

    <div class="panel-body">

        <div id="gridContent" style="font-family: Arial; padding: 20px;">
            @grid.GetHtml(tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
            //grid.Column("codigo", "codigo", canSort: false),
            //     grid.Column("dia", "dia", canSort: false),
                  grid.Column("codigo", format: @<text><span class="display-none">@item.codigo</span>
                <label id="codigo" class="edit-mode">@item.codigo</label></text>,
                                               style: "col1Width"),
                                                   grid.Column("dia", format: @<text><span class="display-none">@item.dia</span>
                                                <label id="dia" class="edit-mode">@item.dia</label></text>,
                              style: "col1Width"),
             grid.Column("Nome", format: @<text><span class="display-mode">@item.usuario.nome</span>
            <label id="lblusuarionome" class="edit-mode">@item.usuario.nome</label></text>,
                 style: "col1Width"),


         grid.Column("horaEntradaInicio", "Entrada Inicio", format: @<text> <span class="display-mode">
                <label id="lblhoraEntradaInicio">@item.horaEntradaInicio</label>
            </span>
            <input type="text" id="horaEntradaInicio" value="@item.horaEntradaInicio" class="edit-mode" />
        </text>, style: "col2Width"),

            grid.Column("horaSaidaInicio", "Saida Inicio", format: @<text> <span class="display-mode">
                    <label id="lblhoraSaidaInicio">@item.horaSaidaInicio</label>
                </span>
                <input type="text" id="horaSaidaInicio" value="@item.horaEntradaTarde" class="edit-mode" /></text>, style: "col2Width"),
          grid.Column("horaEntradaTarde", "Entrada Tarde", format: @<text> <span class="display-mode">
                <label id="lblhoraEntradaTarde">@item.horaEntradaTarde</label>
            </span>
            <input type="text" id="horaEntradaTarde" value="@item.horaEntradaTarde" class="edit-mode" /></text>, style: "col2Width"),
          grid.Column("horaSaidaTarde", "Saida Tarde", format: @<text> <span class="display-mode">
                <label id="lblhoraSaidaTarde">@item.horaSaidaTarde</label>
            </span>
            <input type="text" id="horaSaidaTarde" value="@item.horaSaidaTarde" class="edit-mode" /></text>, style: "col2Width"),
            grid.Column("observacao", "observacao", format: @<text> <span class="display-mode">
                    <label id="lblobservacao">@item.observacao</label>
                </span>
                <input type="text" id="observacao" value="@item.observacao" class="edit-mode" /></text>, style: "col2Width"),
               grid.Column("horateste", "Hora Extra", format: @<text> <span class="display-mode">
                    <label id="lblhorateste">@item.horateste</label>
                </span>
                <input type="text" id="horateste" value="@item.horateste" class="edit-mode" /></text>, style: "col2Width"),
                 grid.Column("horateste", "Hora Extra", canSort: false),
           grid.Column("Action", format: @<text>
            <button class="btn-sm btn-info edit-user display-mode"> <span class="glyphicon glyphicon-refresh"></span> Alterar</button>
            <button class="btn-sm btn-success save-user edit-mode"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn-sm btn-danger cancel-user edit-mode"><span class="glyphicon glyphicon-remove"></span></button>
        </text>, style: "col3Width", canSort: false)
                                 ))
        </div>


    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    <script>
        $(document).on("click", ".alert", function (e) {
            bootbox.alert("Hello world!", function () {
                console.log("Alert Callback");
            });
        });
    </script>
    <script>
        $(document).ready(function () {         
            $("#horaEntradaInicio").inputmask("99:99");
            $("#horaSaidaInicio").inputmask("99:99");
            $("#horaEntradaTarde").inputmask("99:99");
            $("#horaSaidaTarde").inputmask("99:99");
            $("#horaEntradaInicio").inputmask("mask", { "mask": "99:99" }, { reverse: true });

        });
    </script>

    <script src="~/Scripts/bootbox.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.edit-mode').hide();
            $('.edit-user, .cancel-user').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });
            $('.save-user').on('click', function () {
                var tr = $(this).parents('tr:first');
                var codigo = tr.find("#codigo").html();
                var dia = tr.find("#dia").html();
                var horaEntradaInicio = tr.find("#horaEntradaInicio").val();
                var horaSaidaInicio = tr.find("#horaSaidaInicio").val();
                var horaEntradaTarde = tr.find("#horaEntradaTarde").val();
                var horaSaidaTarde = tr.find("#horaSaidaTarde").val();
                var observacao = tr.find("#observacao").val();
                var horateste = tr.find("#horateste").val();
              


                //Creating Employee JSON object
                var Model =
                    {
                        "codigo": codigo,
                        "dia": dia,
                        "horaEntradaInicio": horaEntradaInicio,
                        "horaSaidaInicio": horaSaidaInicio,
                        "horaEntradaTarde": horaEntradaTarde,
                        "horaSaidaTarde": horaSaidaTarde,
                        "observacao": observacao
                    

                    };
                //Posting Employee object to controller's Update action method
                $.ajax({
                    url: '/cadastrohoras/Update',
                    data: JSON.stringify(Model),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        tr.find('.edit-mode, .display-mode').toggle();
                        tr.find('.edit, .read').toggle();
                        $('.edit').hide();
                        tr.find('#dia').text(dia);
                        tr.find('#lblhoraEntradaInicio').text(horaEntradaInicio);
                        tr.find('#lblhoraSaidaInicio').text(horaSaidaInicio);
                        tr.find('#lblhoraEntradaTarde').text(horaEntradaTarde);
                        tr.find('#lblhoraSaidaTarde').text(horaSaidaTarde);
                        tr.find('#lblobservacao').text(observacao);
                        //tr.find('#lblhorateste').text(horateste);
                        //alert('Horario cadastrado!!');
                        bootbox.alert("Horario cadastrado", function () {
                            console.log("Alert Callback");
                        });
                    }
                });
            });

            $('.edit-user').on('click', function () {              
                var tr = $(this).parents('tr:first');
                var codigo = tr.find("#codigo").html();
                var horaEntradaInicio = tr.find("#horaEntradaInicio").inputmask("99:99").val();
                var horaSaidaInicio = tr.find("#horaSaidaInicio").inputmask("99:99").val();
                var horaEntradaTarde = tr.find("#horaEntradaTarde").inputmask("99:99").val();
                var horaSaidaTarde = tr.find("#horaSaidaTarde").inputmask("99:99").val();
                var observacao = tr.find("#observacao").val();
             


                tr.find("#codigo").text(codigo);
                tr.find("#lblhoraEntradaInicio").text(horaEntradaInicio);
                tr.find("#lblhoraSaidaInicio").text(horaSaidaInicio);
                tr.find("#lblhoraEntradaTarde").text(horaEntradaTarde);
                tr.find("#lblhoraSaidaTarde").text(horaSaidaTarde);
                tr.find('#lblobservacao').text(observacao);
          

            });
        })
    </script>

}
